.fix{
	position: fixed;
	left: 10%;
	right: 10%;
}
.img{
	text-align: center;
}
img{
	padding: 2px;
	border-radius: 8px;
	box-shadow:  0 0 10px 6px rgba(0,0,0,.5);
}
.button_div{
	text-align: center;
}
.button{
    background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 20px;
}
img.blur{
	position: absolute;
	left:0px;
	top:0px;
	filter: blur(5px);
	z-index: -1;
	width:100%;
}
